<section class="list">
  <header class="list__header">
    <h1>Opciones de publicación</h1>
    <div class="list__actions">
      <button matButton="filled" (click)="add()">
        <mat-icon>add</mat-icon>
        Nuevo
      </button>
    </div>
  </header>

  <tbi-table
    [columns]="columns"
    [fetch]="fetch"
    [rowActions]="rowActions"
    [searchable]="true"
    searchPlaceholder="Buscar opciones…"
  />

  <h2 class="list__subheader">Comparador de tamaños</h2>
  <tbi-comparador-tamanos />
</section>
